.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 92vh;
	margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cl1 {
  color: black
}

.cl2 {
  color: red
}

.nav_active {
  color: red;
}

.submit_btn {
  display: flex;
  justify-content: space-between;
}